#title {
    text-align: center;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

#game-score{
    justify-content: center;
    display: flex;
}

#game-score li{
    margin-bottom: 10px;
}

#maxlength{
    margin-left: 100px;
}

.value{
    margin-left: 10px;
}